<!-- Submit a Comment -->
<div class="clearfix">
  <%= form_for [commentable, comment], remote: true do |f| %>
    <div class="form-group">
      <%= f.text_area :body, placeholder: "Write a comment...",
                             class: "form-control",
                             id: "create-comment",
                             rows: "3" %>
    </div>
      <%= link_to "Cancel", '#' %>
      <%= f.submit "Comment", class: "btn btn-primary pull-right" %>
  <% end %>
</div>
