<div class="row">
  <div class="col-xs-12">
    <%= link_to  image_tag(user.profile.profile_photo_url(:thumb), alt: "Profile Image", class: "pull-left custom-poster thumbnail"),
                 user_path(user) %>

    <%= link_to user.name, user_path(user) %>
    <p>Posted on <time datetime="<%= object.created_at %>"><%= object.created_at %></time></p>
  </div>
</div>
