
  <div class="col-xs-12 col-sm-6 col-lg-4 user-partial">
    <div>
      <%= link_to  image_tag(user.profile.profile_photo_url(:thumb), alt: "Profile Image", class: "pull-left custom-poster thumbnail"),
      user_path(user) %>
    </div>
    <div class="user-info-box">
      <p><%= link_to user.name, user_path(user) %></p>
      <p>
        <% unless is_current_user? user %>
        <%= render partial: 'shared/friend_link', locals: { user: user } %>
        <% end %>
      </p>
    </div>
  </div>
