<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <div class="sign_up_text">
      <h2><%= sign_up_page_content[:tagline] %><a href="#"></a></h2>
        <ul>
          <% sign_up_page_content[:details].each do |detail| %>
            <li>
              <%= detail %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="col-sm-5">

    <h1>Sign Up!</h1>

    <%= render partial: 'sign_up_form', locals: { user: @user,
                                                  profile: @profile } %>

  </div>
</div>
