<section id="content">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Photos</h3>
          <%= link_to "Edit Profile", new_user_photo_path(@user), class: 'btn btn-primary pull-right' %>
        </div>
        <div class="panel-body">
            <% @photos.each_with_index do |photo, i| %>

              <% if i%4 == 0 %>
                <% unless i == 0 %>
                  </div>
                <% end %>
                <div class="row">
              <% end %>

              <%= render partial: 'photos/thumbnail', locals: { photo: photo } %>

            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
