// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//variables extends and mixins
$bright-red: #C53030;
$dark-red: #730000;
$light-green: #e6eedd;
$med-green: #1f7a29;
$dark-green: #0d5916;
$light-blue: #6690e9;
$bs-grey: #f6f6f6; // bootstrap grey

.light-border {
  border: 1px solid #ccc;

  @media only screen and (max-width : 625px) {
    border-left: 0;
    border-right:0;
  }
}

//global

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: helvetica, sans-serif;
}
//timeline
#timeline-row {
  padding: 0;
  width: 100%;
}

#timeline-left {
  padding-left: 0;
}

#timeline-right {
  padding-right: 0;
}

.card {
  margin-bottom: 15px;
}

.card-header {
  @extend .light-border;
  border-bottom: 0;
  width: 100%;
  background: $bs-grey;
  text-align: center;
  padding: 7px;

  h3 {
    font-size: 14px;
    font-weight: bold;
  }
}

.card-body {
  @extend .light-border;
  border-top: none;
  padding: 14px;

  .link {
    text-align: center;
    padding: 4px 0 8px;;
  }
}

#post-input-card-body {
  padding: 20px;

  input {
    width: 100%;
  }
}

#card-photos {
  display: flex;
  flex-wrap: wrap;

  div {
    width: 33.333333%;
    padding: 4px;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

.post {
  border-top: 1px solid #ccc;

  .post-header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 14px;

    .post-thumbnail {
      margin-right: 14px;
      width: 80px;
    }

    .name {
      font-weight: bold;
    }
  }

  .post-actions {
    display: flex;

    .like {
      margin-right: 14px;
    }

    .delete-post {
      margin-left: auto;
    }
  }

  .likes {
    margin-top: 7px;
  }

  .post-comment {
    display: flex;
    margin-bottom: 28px;

    .comment-header {
      margin-bottom: 7px;
    }

    .comment-footer {
      display: flex;
      margin-top: 7px;

      .like {
        margin-right: 14px;
      }

      .delete {
        margin-left: auto;
      }
    }

    .comment-thumbnail-container {
      padding-right: 7px;

      .comment-thumbnail {
        border: 1px solid #ccc;
        width: 80px;
      }
    }
  }

  .last {
    margin-bottom: 0;
  }
}

#post-submit-footer {
  text-align: right;
}

.card-footer {
  @extend .light-border;
  background: $bs-grey;
  padding: 7px;
  border-top: 0;
}

.comment-input-actions {
  display: flex;
  align-items: center;
  padding: 7px;

  button {
    margin-left: auto;
  }
}

@media only screen and (max-width : 768px) {
  #timeline-left, #timeline-right {
    padding: 0;
  }
}
